{% extends 'layout.html' %}

{% block content %}
<main role="main" class="container" style="padding-top: 90px;">
    <div class="row justify-content-center">
        <div class="col-4">
            <h3 style="color: #1a354f; padding-bottom: 20px;">Add New Data</h3>
            <form action="" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="gatename" name="gatename" placeholder="Gate Name">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}